{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block content_title %}<h1>Dashboard</h1>{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">



{% if tickets %}

{% else %}
    You don't have any ticket assigned.
{% endif %}

   

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'ACTIONS' %}</h2>
        <h3><a href="/admin/mainApp/ticket/add/">Add new ticket</a></h3>
        {% if request.user.is_superuser %}
            <h3><a href="/admin/auth/user">Manage Users</a></h3>
            <h3><a href="/admin/auth/group">Manage Groups</a></h3>
        {% endif %}


         
    </div>
</div>
{% endblock %}
